mixin noticias__articulo(titulo,subtitulo,contenido)
  .noticias__articulo 
    h2=titulo
    h3=subtitulo   
    p=contenido


mixin estadistica(numero_seguidores,descripcion)
  .estadisticas__seguidores
     h2=numero_seguidores
     h3=descripcion     